body
{
    background-image: url(https://img.freepik.com/fotos-premium/fondo-negro-abstracto-brillo-https://img.freepik.com/foto-gratis/fondo-textura-pared-ladrillo-rojo-pardusco_53876-104807.jpg?w=826&t=st=1667355052~exp=1667355652~hmac=6708a923fd89dbc11d97e8adabfa463ac2b65f92ec0833f3e36eae588046a9cd-1539.jpg?w=996) ;
    font-family: 'Oswald', sans-serif;
    background-repeat:repeat;
    text-align: center;
}
/*           ESTRUCTURA DE LA PAGINA                       */
header
{
    height: 100px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    font-size: 20px;
    background-color: none;;
    padding: 10px 10px 10px 10px;

}
nav
{
    background-color: none; ;
    display: grid;
    justify-items: center;
    border-radius: 8px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px 10px 10px 10px;
}
section
{
    background: url(https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg);
    background-position: left;
    background-size:cover;
    float: left;    
    width: 70%;
    height: 400px;
    border-radius: 8px;
    text-align: center;
    text-decoration: silver;
}
article
{
    background-color: none;
    margin: 20%;

}

aside
{
        background-position: center center;
        background-size: cover;
        float: left;
        width: 30%;
        height: 400px;
        border-radius: 8px;
        display: flex;
        text-align  : center;
}


footer{
    width: 80%;
    height: 1   0px;
    margin-left: 10%;
    margin-right: 10%;
    justify-items: center;
    padding: 10px 10px 10px 10px;
}

a
{
    font-size: 35px;
    text-decoration: none;
    padding: 0 50px;
    color: black;
}
a:hover{
    color: silver;
}
.contenedorcentral
{
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 88px;
    border-radius: 12px;
}