body
{
    background-image: url(https://img.freepik.com/fotos-premium/fondo-negro-abstracto-brillo-https://img.freepik.com/foto-gratis/fondo-textura-pared-ladrillo-rojo-pardusco_53876-104807.jpg?w=826&t=st=1667355052~exp=1667355652~hmac=6708a923fd89dbc11d97e8adabfa463ac2b65f92ec0833f3e36eae588046a9cd-1539.jpg?w=996) ;
    font-family: 'Oswald', sans-serif;
    background-repeat:repeat;
    text-align: center;
}
/*           ESTRUCTURA DE LA PAGINA                       */
header
{
    height: 100px;
    margin-top: 10px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 2%;
    font-size: 20px;
    color: silver;
    padding: 10px 10px 10px 10px;

}
nav
{
    background-color: black ;
    display: grid;
    justify-items: center;
    border-radius: 8px;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 1%;
    margin-bottom: 1%;
    padding: 10px 10px 10px 10px;
}
section
{
    background-color: aqua;
}
article
{
    color: gold;

}
aside
{
    background-color: wheat;
}
footer{
    width: 80%;
    height: 50px;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
#contenedor
{
    overflow: hidden;
    margin-top: 5px;
    margin-bottom: 6px;
    margin-left: 10px;
    margin-right: 10px;
    border: 4px solid silver ;
    border-radius: 12px;
}
#contenedor aside
{
    background-image: url(https://i.pinimg.com/564x/05/0e/26/050e2675fb6b1447138a8206482f450c.jpg);
    background-position: center center;
    background-size: cover;
    float: left;
    width: 30%;
    height: 400px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
}
#contenedor section
{
    background: url(https://images.pexels.com/photos/270404/pexels-photo-270404.jpeg);
    background-position: left;
    background-size:cover;
    float: left;    
    width: 70%;
    height: 400px;
    border-radius: 8px;
    text-align: center;
}
/*           ESTRUCTURA DE LA PAGINA    --->FIN                       */
/*           ESTILOS  DE LETRAS                                       */
.Letrasection
{
    font-size: 25px;
    margin-left: 5%;
    margin-top: 60px;
}
.Letraaside
{
    font-size: 25px;
    margin-left: 5%;
    margin-top: 60px;
    background-color: none;
    display: inline;
    margin-top: 50%;

}
a
{
    font-size: 35px;
    text-decoration: none;
    padding: 0 50px;
    color: silver;
}
a:hover{
    color: blue;
}
/*           ESTILOS  DE LETRAS        ---->FIN                     */
/*          ESTILOS DE BLOQUES                                      */
.contenedorcabezera
{
    background-image: url(https://img.freepik.com/foto-gratis/fondo-textura-pared-ladrillo-azul_53876-104068.jpg?w=826&t=st=1667355116~exp=1667355716~hmac=252f92a1ab334ca0c20c14060c26ea167cd2546d8a93d03322566c0c54ae0bef);
    border: 5px solid blueviolet;
    border-radius: 8px;
}


/*          ESTILOS DE BLOQUES          --->FIN                     */